.main {
    margin: 20px;
    .kl-col {
        color: aliceblue;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
    }
    h4 {
        margin: 20px 0;
    }
    .row {
        margin: 20px 0;
    }
}

.color1 {
    background-color: rgb(119, 198, 205);
}
.color2 {
    background-color: rgb(116, 183, 190);
}
.color3 {
    background-color: rgb(74, 164, 174);
}
.color4 {
    background-color: rgb(33, 179, 192);
}
