
.main {
    margin: 20px;
.kl-col{
    color: aliceblue;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}
h4{
    margin: 20px 0;
}
.row{
    margin:20px 0;
}
 }

.color1{
    background-color: #1677ffbf;
}
.color2{
    background-color: #1e80ff;
}
.color3{
    background-color: #0f6be3;
}
.color4{
    background-color: #065ccd;
}
