@import '../../styles/common.scss';

:root {
    --bg-color: rgb(244, 244, 245);
    --font-color: rgb(52, 52, 52);
}
.kl-message {
    position: fixed;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 70%);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    z-index: 999;
    opacity: 0;
    overflow: hidden;
    max-width: 95%;
    font-size: 14px;

    & > div {
        box-sizing: border-box;
        padding: 10px 40px;
        background-color: var(--bg-color);
        color: var(--font-color);
        font-size: 14px;
        border: var(--border);
        position: relative;
        border-radius: inherit;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
            border: var(--border-active);
        }

        & div {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .scroll-wrapper {
            overflow: hidden;
        }

        & .kl-message--scroll {
            display: inline-block;
        }
        & > .left-icon {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 10px;
            color: var(--font-color);
        }
        & > .right-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
            color: rgba(128, 128, 128, 0.719);
            user-select: none;
            font-size: inherit;
            font-size: 8px;
            transition: all 0.3s ease;

            &:hover {
                color: rgb(73, 73, 73);
            }
        }
    }
}
