// $sizes: mini, small, normal, large, xlarge;

//size
$sizeStyle: (
    'mini': (
        kl-fontSize: 12px,
        kl-paddingSize: 5px 10px,
        kl-width: 55px,
        kl-height: 26px
    ),
    'small': (
        kl-fontSize: 14px,
        kl-paddingSize: 10px 15px,
        kl-width: 65px,
        kl-height: 36px
    ),
    'normal': (
        kl-fontSize: 16px,
        kl-paddingSize: 10px 20px,
        kl-width: 86px,
        kl-height: 40px
    ),
    'large': (
        kl-fontSize: 18px,
        kl-paddingSize: 10px 20px,
        kl-width: 95px,
        kl-height: 43px
    ),
    'xlarge': (
        kl-fontSize: 20px,
        kl-paddingSize: 10px 20px,
        kl-width: 100px,
        kl-height: 45px
    )
);
