@import './var.scss';
//type样式管理
//  这是对变量的封装，变成一个类型 是输入primary这些参数之后对应的样式
// 是一个map里面还有map，理解成对象里面的变量是一个对象
$typeStyle: (
    'primary': (kl-bg: $primary-bgColor,
        kl-fontColor: $primary-fontColor,
        kl-border: $primary-border,
        kl-bg-active: $primary-bgColor-active ),
    'success': (kl-bg: $success-bgColor,
        kl-fontColor: $success-fontColor,
        kl-border: $success-border,
        kl-bg-active: $success-bgColor-active ),
    'info': (kl-bg: $info-bgColor,
        kl-fontColor: $info-fontColor,
        kl-border: $info-border,
        kl-bg-active: $info-bgColor-active ),
    'warning': (kl-bg: $warning-bgColor,
        kl-fontColor: $warning-fontColor,
        kl-border: $warning-border,
        kl-bg-active: $warning-bgColor-active ),
    'danger': (kl-bg: $danger-bgColor,
        kl-fontColor: $danger-fontColor,
        kl-border: $danger-border,
<<<<<<< HEAD
        kl-bg-active: $danger-bgColor-active ),
    'default': (kl-bg: $default-bgColor,
=======
        kl-bg-active: $danger-bgColor-active
    ),
    'default': (
        kl-bg: $default-bgColor,
        kl-bg-active: $primary-bgColor-active,
>>>>>>> a78cda46958a0dbfdff17037488b3074e5ba71b0
        kl-fontColor: $default-fontColor,
        kl-border: $default-border,
        kl-border-active: $default-border-active )
);