//样式变量统一声明

//全局通用样式

// 这里是具体的数值，用来被引用

//字体
$font-color-white: white;
//这是字体颜色吧

//边框
$border-none: none;
// 把border设为“none”即没有，浏览器解析“none”时将不作出渲染动作，即不会消耗内存值。

//过渡
$transition-quick: 0.1s ease-in;
$transition-normal: 0.3s ease;
$transition-slow: 0.5s ease;

// type    type引用的变量存放在这里
// primary
$primary-bgColor: #3a7afe;
$primary-bgColor-active: #075aff;
$primary-fontColor: $font-color-white;
$primary-border: $border-none;

//success
$success-bgColor: rgb(103, 194, 58);
$success-bgColor-active: rgb(47, 141, 0);
$success-fontColor: $font-color-white;
$success-border: $border-none;

//info
$info-bgColor: #85878b;
$info-bgColor-active: rgb(117, 118, 121);
$info-fontColor: $font-color-white;
$info-border: $border-none;

//warning
$warning-bgColor: rgb(230, 162, 60);
$warning-bgColor-active: rgb(170, 115, 32);
$warning-fontColor: $font-color-white;
$warning-border: $border-none;

//danger
$danger-bgColor: rgb(245, 108, 108);
$danger-bgColor-active: rgb(190, 62, 62);
$danger-fontColor: $font-color-white;
$danger-border: $border-none;

//default
$default-bgColor: white;
$default-fontColor: rgb(59, 59, 59);
$default-border: 1px solid $default-fontColor;
$default-border-active: 1px solid $primary-bgColor-active;

//size
//mini
$mini-fontSize: 12px;
$mini-paddingSize: 5px 10px;
$mini-width: 55px;
$mini-height: 26px;

//small
$small-fontSize: 14px;
$small-paddingSize: 10px 15px;
$small-width: 65px;
$small-height: 36px;

//normal
$normal-fontSize: 16px;
$normal-paddingSize: 10px 20px;
$normal-width: 86px;
$normal-height: 40px;

//large
$large-fontSize: 18px;
$large-paddingSize: 10px 20px;
$large-width: 95px;
$large-height: 43px;

//xlarge
$xlarge-fontSize: 20px;
$xlarge-paddingSize: 10px 20px;
$xlarge-width: 100px;
$xlarge-heigth: 45px;