/* 覆盖默认 */
:root {
    /* 主题色 */
    --theme-color-light: rgb(58, 186, 85);
    --theme-color-dark: rgb(117, 205, 213);
    --theme-color: rgb(43, 142, 65);
    --linear-color: linear-gradient(to left, var(--theme-color-dark), var(--theme-color-light));
    --vp-button-hover: var(--theme-color);

    /* demo公用样式 */
    --demo-border: lightgray;
    --demo-sen-color: rgba(60, 60, 67, 0.92);

    /* --vp-c-brand: rgb(117, 205, 213); */
    --vp-c-brand: var(--theme-color-light);
    --vp-c-brand-light: var(--theme-color-light);
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-home-hero-name-background: var(--linear-color);
    --vp-home-hero-name-color: transparent;
    --vp-button-brand-bg: var(--vp-c-brand-light);
    // --vp-c-bg-alt:rgba(117, 205, 213,.1)
    --theme-bg-op: rgb(117, 205, 213, 0.1);
}

//首页按钮样式
.VPButton.brand {
    background: var(--vp-button-brand-bg);
}
.VPButton.brand:hover {
    background: var(--vp-button-hover) !important;
    border-color: var(--vp-button-hover) !important;
}

.link-text {
    padding-left: 15px;
}
.VPLink.link.link:not(.VPNavBarMenuLink) {
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 10px;
    &:hover {
        color: var(--theme-color-light);
    }
}
.VPLink.link.link.active:not(.VPNavBarMenuLink) {
    // color: white;
    color: var(--theme-color-light);
    background-color: rgb(219, 243, 206);
    // background-color: var(--theme-color-light);
}

.dark .VPButton.brand:hover {
    background: var(--vp-button-hover) !important;
    border-color: var(--vp-button-hover);
}

.dark .VPButton.brand {
    background: var(--vp-button-brand-bg);
}

.dark {
    --vp-button-brand-bg: var(--vp-c-brand-light);
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: var(--linear-color);
}
