.kl-input {
    width: 100%;
    position: relative;
    font-size: 14px;
    display: inline-block;
    .kl-input_inner {
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        outline: none;
        padding: 0 15px;
        width: 100%;
        &:focus {
            outline: none;
            border-color: rgb(103, 194, 58);
        }
        // 禁用样式
        &.is-disabled {
            background-color: #f5f7fa;
            border-color: #e4e7ed;
            color: #c0c4cc;
            cursor: not-allowed;
        }
    }
    .default {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    .large {
        height: 55px;
        line-height: 55px;
        font-size: 16px;
    }
    .small {
        height: 33px;
        line-height: 33px;
        font-size: 12px;
    }
    // textarea样式
    .kl-textarea_inner {
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        line-height: 40px;
        outline: none;
        padding: 0 15px;
        width: 100%;
        &:focus {
            outline: none;
            border-color: rgb(103, 194, 58);
        }
    }
}
// 后面加suffix的意思是后面如果有后缀的话，触发该样式
.kl-input_suffix {
    .kl-input_inner {
        padding-right: 30px;
    }
    .kl-input_suffix {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 10px;
        height: 100%;
        top: 0;
        text-align: center;
        color: #c0c4cc;
        transition: all 0.3s;
        z-index: 999;
    }
}
