@import '../../styles/common.scss';

// 如何让border是自己撑开的
.kl-list {
    font-family: Arial;
    list-style-type: none;
    outline: none;
    box-sizing: border-box;
    position: relative;
    font-size: var(--kl-size-font);
    padding: 0 10px;
    // min-width: var(--kl-size-width); //设置段落的最小宽度  去掉这个  设置padding
    // min-height: var(--kl-size-height); //设置段落的最小高度
    padding: var(--kl-padding);
    background-color: var(--kl-bg-color);
    color: var(--kl-font-color);
    border: var(--kl-border);
    font-size: var(--kl-size-font);
    //要写一下才能进行改变 不绑定初始值无法使用

    &+& {
        margin-left: 12px;
    }

    .item {
        border: 1px solid #f0f0f0;
    }
}